//可寫入web font的地方
=fontSty
	font-family: 'PingFang TC', '微软雅黑', 'Microsoft YaHei','微軟正黑體','Helvetica Neue', 'Helvetica', 'Arial', '华文细黑', 'STHeiti', sans-serif
=wh($width,$height)
	width: $width+px
	height: $height+px
=bg($img-name)
	background-image: url("#$img-name}")
	width: image-width("#$img-name}")
	height: image-height("#$img-name}")
//使用字串當作變數的時候，要用#}包起變數名稱
=topLeft($top,$left,$zindex)
	position: absolute
	top: $top+px
	left: $left+px
	z-index : $zindex
=botRight($bottom,$right,$zindex)
	position: absolute
	bottom: $bottom+px
	rihgt: $right+px
	z-index: $zindex
//浮動控制
=pot($top,$right,$bottom,$left,$zindex)
	position: absolute
	top     : $top
	right   : $right
	bottom  : $bottom
	left    : $left
	z-index : $zindex
=ht
	white-space: nowrap
	text-indent: 100%
	overflow: hidden
=ct
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
=dv
	display: inline-block
	vertical-align: middle
=dvm
	display: inline-block
	vertical-align: middle
=dvt
	display: inline-block
	vertical-align: top
=dvb
	display: inline-block
	vertical-align: bottom