//reset don't change
html, body
    height: 100%
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
    margin: 0
    padding: 0
table
    border-collapse: collapse
    border-spacing: 0
fieldset,img
    border: 0
    display: inline-block
address,caption,cite,code,dfn,em,strong,th,var
    font-style: normal
    font-weight: normal
ol,ul
    list-style: none
    list-style-type: none
caption,th
    text-align: left
h1,h2,h3,h4,h5,h6
    font-size: 100%
    font-weight: normal
q:before,q:after
    content: ''
abbr,acronym
    border: 0
a
    color: #555
    outline: none
    hlbr: expression(this.onFocus=this.blur()) /* for Firefox */ 
    cursor: pointer /* for IE */ 
a:link,a:visited,a:hover,a:active
    text-decoration: none

//input 邊筐圓角消除
input,select,textarea
    outline: 0
    border: none
    border-radius: 0
    -webkit-appearance: none
