/* (@)whitenight.tw by truesun */
//reset don't change
html, body{ height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; display:inline-block;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none; list-style-type:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
//去除a連結虛線
a{ outline: none; /* for Firefox */ hlbr:expression(this.onFocus=this.blur()); /* for IE */ cursor:pointer;}
a:link,a:visited,a:hover,a:active { text-decoration: none;}

//可寫入web font的地方

%fontSty{ font-family:'PingFang TC', '微软雅黑', 'Microsoft YaHei','微軟正黑體','Helvetica Neue', 'Helvetica', 'Arial', '华文细黑', 'STHeiti', sans-serif;}
@mixin wh($width,$height){
	width:$width+px;
	height:$height+px;
}

@mixin bg($img-name){
	background-image: url("#{$img-name}");
	width: image-width("#{$img-name}");
  	height: image-height("#{$img-name}"); 
  	//使用字串當作變數的時候，要用#{}包起變數名稱
}
@mixin topLeft($top,$left,$zindex) {
	position:absolute;
	top     :$top+px;
	left    :$left+px;
	z-index :$zindex;
}

@mixin botRight($bottom,$right,$zindex) {
	position:absolute;
	bottom     :$bottom+px;
	rihgt      :$right+px;
	z-index :$zindex;
}
@mixin ht{ white-space:nowrap; text-indent:100%; overflow:hidden;}
@mixin ct{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
@mixin dv{ display:inline-block; vertical-align:middle;}

//margin:18px 15px 0; 上、左右、下
//變數用快速鍵[ command+\ ]排版
//全域樣式:text color

//使用[ darken($btn-bg,5%) ]可以將變數的顏色加深，就不需要在多創一個顏色出來:
//例如background: darken($btn-bg,5%); 加深了5%

$link:#1781bb; //全站文字連結用色系
$link-hover:#106696; //全站文字連結用色系-深
$input-txt:#555; // 輸入框的文字色

//按鈕Group
$btn-bg:#1781bb; //按鈕的主色系
$btn-color:#fff;//按鈕的文字色

//功能按鈕:如會員功能的禁權按鈕
$fn-bg:#d14d4d; 

//標題Group
$h1-color:#1781bb;
$h2-color:#999;

$main-color:#1781bb; //主色系，包含文字標題之類的
$main-color-hover:#106696; //主色系-深

//Other color
$white:#fff;

//全域樣式 > Global
html, body{ color:#555; font-size:14px; @extend %fontSty;}
input,textarea,select { @extend %fontSty;  -webkit-appearance: none; border-radius:0;}
input[type="radio"],input[type="checkbox"]{ width:1px; height:1px; opacity:0;}
input[type="radio"]:checked + .radio-box::after{ content:''; width:11px; height:11px; border-radius:30px; display:block; background:#1781bb;} 
input[type="checkbox"]:checked + .check-box::after{ 
	content:'\f00c';
	display:block;
	font: normal normal normal 14px/1 FontAwesome; 
	font-size: 16px; 
	text-rendering: auto;
	color:#1781bb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    margin:0 0 0 2px;
}
a{ color:$link;
	&:visited {text-decoration:none;}
	&:hover,&:active{ color:$link-hover; text-decoration:none;}
}
//清除浮動
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
//.clearfix { display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix { height: 1%;}

//lightbox 基礎組件
.mask{ width: 100%; height: 100%; background: rgba(0,0,0,.7); @include topLeft(0,0,99);}
.lg-box{ box-shadow: 0 0 50px #111; border-radius: 5px;position: absolute; top:15%; left:50%; z-index: 100;}
.lg-tit{ color:#fff; font-size:16px; letter-spacing:1px; background: #1781bb; padding:10px 8px; border-bottom: 2px solid #11577d;}
.lg-cont{ background:#fff; padding:15px; overflow:auto;
	h2{ font-size:18px; color:$h2-color; padding:20px 0 10px 0; text-shadow:0 1px 0 #fff; }
	h3{ font-size:16px; color:$h2-color; padding:10px 0; text-shadow:0 1px 0 #fff;}
}
.lg-bot{ text-align:center; background: #e5e5e5; padding: 8px; border-top: 1px solid #ccc;
	.btn{ margin:0 5px; position:relative;
		input{ display: block; width: 100%; position: absolute; margin: 0; border: none; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; direction: ltr; cursor: pointer; z-index: 2;}
	}
}
//純訊息
//視使用需求增加.lg-mesg-box的寬度，或另外新增class name
.lg-mesg-box{ width:400px; margin:0 0 0 -200px;}


.lg-big-box{ width:800px; margin:0 0 0 -400px;}
//此為配合.lg-big-box新增的class name 固定最大高度後，超出最大高度給予捲軸使用
.lg-add{ max-height:300px; overflow:y-scroll;}



//表單樣式
.input-sty{ color:$input-txt; font-size:14px; width:100%; background:#eee; padding: 8px 10px; border: 1px solid #d0d0d0; border-radius: 2px; box-sizing:border-box; display:inline-block; outline : 0; transition: background .4s,box-shadow .4s; vertical-align: middle;
	&:focus{ background:#fff; box-shadow:0 0 3px #ccc;}
}
.select-sty{ color:$input-txt; font-size: 14px; width:100%; height: 38px; background:#eee; padding:0 0 0 10px; background:#eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%; border: 1px solid #d0d0d0; border-radius: 2px; display:inline-block; outline : 0; transition: background .4s,box-shadow .4s; vertical-align: middle;
	&:focus{ background:#fff url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%; box-shadow:0 0 3px #ccc;}
}
.radio-box{ width:19px; height: 19px; padding:2px; border:2px solid #1781bb; border-radius:30px; box-sizing:border-box; display: inline-block; vertical-align: middle; margin:0 3px 0 0;}
.check-box{ width:19px; height: 19px; border:2px solid #1781bb;  box-sizing:border-box; display: inline-block; vertical-align: middle; margin:0 3px 0 0;}



//共用樣式
.txt-c{ text-align:center;}
.txt-r{ text-align:right;}
.imp{ color:$fn-bg;}
.cle{ clear:both;}
.error{ border:1px solid #d2664f;}
.note{ padding:0 5px 10px 0; color:#999;}

//複選框組件
.check-list{ margin:0;
	label{padding: 6px 10px 6px 3px; cursor:pointer; border-radius:3px; margin:0 10px 0 0; transition:.2s;
		&:hover{ background:#eee;}
	}
	label.error{ color: #fff; border-radius: 2px; background: #d2664f; line-height: 16px; margin: 0; display: inline-block;}
	span{ vertical-align:middle;}
}

/*Login page*/
//首頁登入頁
.login-page-mask{ width:100%; height:100%; position:absolute; background:url(../img/backend_img/pic_mask.png);}
.login-page-bg{ width:100%; height:100%; background:url(../img/backend_img/login_bg.jpg) center 0 no-repeat;}
.loain-box{ width: 500px; position:absolute; left:50%;}
.logo{ @include wh(160,90); background: url(../img/backend_img/backend_logo.png) no-repeat; @include topLeft(-50,170,1);}
.login { width: 500px; text-align:center; padding:20px 30px; box-sizing:border-box; border-radius:5px; background-color: rgba(0, 0, 0, 0.6); position:absolute; z-index:1; top:100px; left:-50%;
	h1{ margin:35px 15px 0; color:#fff; font-size:16px; }
	.input-box{ width:100%; margin:20px auto; position:relative; display:block;
		i{ font-size:28px; color:#ccc; @include topLeft(7,15,1);}
	}
	label{ padding:8px 12px; border:none; display:block; position: absolute; top: 3px; right: 7px; border: 1px solid #d2664f; background: #d2664f; border-radius: 3px;} 
	input[class~=input-sty]{ font-size:18px; padding:10px 10px 10px 45px;}
	label.error{ color:$white; margin:1px 0 0;}
}
.login-error-mesg{ color:#f00; padding:0 25px;}
.login-footer{ color:#fff; text-align:center;}
.login-btn-box{ text-align:center; margin:20px auto;}
.login-submit-btn{ font-size:18px; color:$btn-color; text-shadow:0 1px 1px #000; background:darken($btn-bg,5%) ; width:100%; box-shadow:0 0 3px #90D0F2 inset,0 0 5px rgba(0,0,0,1); padding:12px 0; border:0; border-radius:5px; cursor:pointer; outline: none; transition: background .2s;
	&:hover{ background:darken($btn-bg,10%);}
}


//右邊欄、主內容 Layout
body{ width:100%; min-width:1000px; height:100%; overflow:hidden; background:url(../img/backend_img/body_bg.png);}
.main{ height:100%; padding:0 20px 0 30px; overflow:auto; background:#fff url(../img/backend_img/main_bg.png);
	h1{ font-size:24px; color:$h1-color; padding:15px 0 20px 0; background:url(../img/backend_img/title_line.png) 0 53px repeat-x; }
	h2{ font-size:18px; color:$h2-color; padding:20px 0 10px 0; text-shadow:0 1px 0 #fff; }
	h3{ font-size:16px; color:$h2-color; padding:10px 0; text-shadow:0 1px 0 #fff;}
}

//導航列側邊欄
.side-nav{ width:180px; height:100%; float:left; overflow:hidden; position:relative;}
.side-box{ width:180px; height:100%;}
.btn-side-close{ color:#fff; font-size:20px; width: 26px; height: 28px; box-sizing:border-box; padding: 0 0 0 9px; background:#222; cursor:pointer; position:absolute; top:0; left:180px; z-index:1;
	&:hover p{ height:78px;}
	p{color: #fff; font-size: 13px; text-align: center; letter-spacing: 1px; width: 100%; height: 0; overflow:hidden; background: #222; position: absolute; top: 28px; left: 0; transition:.3s;}
}

.btn-side-open{ color:#fff; font-size:20px; width: 26px; height: 28px; box-sizing:border-box; padding: 0 0 0 9px; background:$main-color; cursor:pointer; position:absolute; top:0; left:-40px; z-index:2;
	&:hover p{ height:78px;}
	p{color: #fff; font-size: 13px; text-align: center; letter-spacing: 1px; width: 100%; height: 0; overflow:hidden; background:$main-color; position: absolute; top: 28px; left: 0; transition:.3s;}

}


.side-logo{ @include wh(160,90); margin:10px auto; background:url(../img/backend_img/backend_logo.png) no-repeat;}
.side-footer{ font-size:12px; text-align:center; color:#555; width:180px; line-height:45px; box-sizing: border-box; position:absolute; bottom:0; left:0; z-index:2;}
.backend-tit{ text-align:center; color:#999; font-size:12px; padding:5px;}
.user-info{ text-align:right; color:#eee; text-shadow:0 1px 1px #000; line-height:25px; margin:0 0 10px;}
.user-id{ padding:10px 10px 5px 10px; border-bottom:1px solid #000;}
.sign-out-box{ padding:10px; border-top:1px solid #333;}
.sign-out{ color:#999; box-shadow:0 1px 0 #414141; padding:5px 8px; border-radius:3px; background:#0d0d0d; transition: .2s;
	&:hover{ background:#000; color:#ccc;}
}
.nav-box{ overflow-y:auto;}
.nav{ padding:0 10px;
	a{ font-size:14px; color:#999; text-align:center; padding:8px 0 9px 0; margin:0 10px 5px 10px; display:block; border-radius:2px; transition: background .2s;
		&:hover{ color:$white; background:#333;}
		&.act{ color:$white; background:#444; text-shadow: 0 0 12px #39B7FC; border-top:1px solid #777; box-shadow:0 0 7px 1px #000;}
	}
}

//次選單樣式
.sub-menu{ margin:-10px 0 20px 0; background:#222627; padding:10px; overflow:hidden;
	li{ float:left; margin:0 10px 0 0;}
	a{ color:#fff; text-shadow:0 1px 1px #000; padding:5px 12px; display:block; transition: .2s; border-radius:2px; box-shadow:0 2px 2px #000;}
	a.act,a:hover{ color:$white; background:$main-color-hover;}
}
.sub-page{ height: 31px; margin:10px 0 20px 0; border-bottom:1px solid $main-color;
	li{ height: 30px; line-height:30px; padding:0 14px; display:block; border-radius:5px 5px 0 0; transition: .2s; float:left; margin:0 0 0 10px; cursor:pointer;
		&:hover{ background:#eee;}
	}
	li.act{ color:$main-color; border:1px solid $main-color; border-bottom:1px solid #F9F9F9;
		&:hover{ background:#F9F9F9;}
	}
}

//麵包削
.breadcrumb{ margin: 10px 0; background-color: #ECECEC; border-radius: 4px;
	li{ display: inline-block;}
	a{ color: #337ab7; text-decoration: none; padding: 8px 10px; display: inline-block; transition:.2s;
		&:hover{background:#ddd;}
	}
	span{ padding: 8px 10px;}
	a.active {color: #777;}
	&:focus{ background:#fff; box-shadow:0 0 3px #ccc;}
}
.breadcrumb > li + li:before {padding: 0 0; color: #ccc; content: "/\00a0"; }

//組件基礎
.input-box{ width: 44%; margin: 0 5% 20px 0; display:inline-block; vertical-align:top;
	p{ font-size:15px;}
	label{ font-size:16px; color:$main-color; font-weight:bold; margin:5px 5px 10px 0; display:block;}
	//為了改掉.check-list的label吃到上面的樣式，所以要覆寫
	.check-list label{ font-weight: normal; margin:0; @include dv;}
	label.error{ color: #fff; font-weight: normal; padding:5px 8px; border-radius: 2px; background: #d2664f; display: inline-block;}
	span{ font-size:16px; vertical-align:middle; }
}
//2欄式組件
.input-box-w{ width:93.5%;}
.input-box-100{ width:100%; margin:0 0 20px;}

.more-info{ height:400px;}
.desc-info{ height: 150px;}
.w50{ width: 50px;}
.w100{ width: 100px;}
.w150{ width: 150px;}
.w200{ width: 200px;}
.w250{ width: 250px;}

//表格
.table{ width: 80%; border-left:1px solid #ccc; border-top:1px solid #ccc; margin:0 0 15px 0;
	th{ background:#eee;}
	th,td{ text-align: center; border-right:1px solid #ccc; border-bottom:1px solid #ccc; padding:1%;}
}
.table-group{ font-size:16px; width:95%;}

/*tag style*/
.tag{ overflow: hidden;
	li{ border:1px solid #ddd; margin:0 8px 8px 0; float:left; border-radius: 3px; cursor: pointer; transition:.2s;
		&:hover{ border:1px solid $main-color;}
	}
}
.tag-add{ font-size: 18px; color:#fff; background: $main-color; line-height: 30px; padding: 0 8px;
	&:hover{ background: $main-color-hover;}
}
.tag-name{ line-height:30px; padding:0 8px; float:left;}
//標籤輸入的
.tag-name-input{ border: none; border-radius: 0; float:left; display: block;
	input.input-sty{ width: 120px; padding: 5px 8px; border:none;}
}
.tag-del{ font-size: 18px; background: #ddd; padding:0 8px; line-height:30px; float:left; display:block; transition:.2s;
	&:hover{ background: #ccc;}
}
.tag-creat{ display:none;}
.tag-check{ font-size: 18px; color:#fff; background: $main-color; padding:0 15px; line-height:30px; float:left; display:block; transition:.2s; position:relative;
	&:hover{ background: $main-color-hover;}
	input{ width:100%; height:100%; position:absolute; top:0; left:0; right:0; bottom:0; z-index:1; opacity:0; cursor:pointer;}
}


//標籤開啟light
.tag-lg-box{ background: #fff; box-shadow: 0 0 20px #999; border-radius: 5px; width: 280px; padding:15px; margin:-145px 0 0 -140px;
	.input-sty{ width:96%; font-size:20px;}
	label.error{ color:#fff; border-radius:2px; background:#d2664f; display: inline-block; margin: 5px 0 0 0;}
	.submit-btn{ margin:0;}
}
.tag-lg-list{ width: 680px; margin:-350px 0 0 -270px;}

//按鈕送出區塊&樣式 Style
.btn-area{ font-size:16px; text-shadow: 0 1px 1px #000; letter-spacing:2px; padding:10px 0; 
	input{ display:block; width:100%; position:absolute; margin:0; border:none; top:0; left:0; right:0; bottom:0; opacity:0; direction: ltr; cursor:pointer; z-index:2;}
}
.btn{ color:$btn-color !important; font-size:14px; display:inline-block; position:relative; padding:8px 12px; margin:0 15px 0 0; border-radius:2px; border: 0; outline:none; -webkit-appearance:none; transition: .2s; cursor:pointer;}
.btn-submit{ background:$btn-bg; 
	&:hover{ background:darken($btn-bg,10%);}
}
.btn-function{ background:$fn-bg;
	&:hover{ background:darken($fn-bg,10%);}
}
.btn-cancel{ background:#999;
	&:hover{ background:darken(#999,10%);}
}


//列表組件
.list{ width:100%; margin:0 0 20px 0; color:#555;
	li.title{ font-weight:bold; border-bottom:1px solid #ccc;
		&:hover{ background:none;}
	}
	li{ width:100%; border-bottom:1px dotted #ccc;
		&:hover{ background:#fff;}
	}
	img{ width:100%; display:block;}
}
.title{
	i{ cursor:pointer;
		&:hover{ color:$main-color;}
	}
	i.act{ color:$main-color;}
}

//資料列表
.data-box{ width: 700px; border: 1px solid #ccc;
	.list{ margin:0;}
	li:last-child{ border:none;}
	.check-list label{ margin:0;}
	.check-list span{ font-size:14px;}
}
//圖像列表
.box-list{ overflow:hidden;
	li{ margin:0 8px 10px 0; border:2px solid #ccc; transition:.2s; cursor:pointer; position:relative; @include dv; 
		&:hover{ border:2px solid $main-color;}
		&:hover p{ background:$main-color;}
		&:hover .del{ display:block; }
	}
	//如果圖像列表有勾選狀態即使用.act
	li.act{ border:2px solid $main-color;
		p{ background:$main-color;}
		.del{ display:block; }
	}
	img{ display:block;}
	a{ width:120px; display:block;
		img{ max-width:100%; max-height:100%; width:100%; height:100%;}
	}
	p{ color:#fff; text-align:center; width:100%; background:#999; height:25px; line-height:25px; transition:.2s;}
}
.del{ font-size: 20px; color: #fff; text-align: center; width:30px; height:30px; background:$main-color; line-height: 29px; position:absolute; top:0; right:0; z-index: 1; display:none; cursor:pointer;}

//相片列表
.photo-list { margin:0 0 10px;
	li { width: 200px; border: 1px solid #ccc; padding: 5px; background: #eee; margin: 0 10px 10px 0; position: relative; @include dv; transition:.3s;
		&:hover{ border:1px solid $main-color;}
	}
	a { width:100%; display:inline-block; position: relative;}
	img { width: 100%; display: block;}
	p {  text-align: center; padding: 5px 0 0; }
}
.del-photo { width: 21px; height: 21px; background: url(../img/backend_img/pic_del.png) no-repeat; position: absolute; top: 10px; right: 10px; z-index: 10; cursor: pointer; }



//搜尋組件
.search-box{ text-align:left; background:#f2f2f2; border:1px solid #d0d0d0; padding:8px 0 0; margin:0 0 10px;
	.btn-area{ background: #e5e5e5; padding:10px 0 8px 8px; border-top:1px solid #ccc;}
}
.search-ui-box{ margin:0 12px 8px 8px; @include dv;
	label{  @include dv; }
	span{ @include dv; }
}
.search-signle{ text-align: left; background:#eee; border:1px solid #ddd; padding:8px 0 0; margin:0 0 10px;
	.search-ui-box{ margin: 0 5px 8px 8px;}
	.btn-area{ padding:0; margin:0 0 8px; @include dv;}
}


//輸入框組件
//Group有連結才會用這個包起來的群組
.group-box-70,.group-box-83,.group-box-85,.group-box-100{ padding:10px 0; @include dv; overflow:hidden;}
.group-box-70{ width:70%; @include dv;}
.group-box-83{ width:83%; @include dv;}
.group-box-85{ width:85%; @include dv;}
.group-box-100{ width:100%;}

//一般群組
//.box-15是操作欄位專用，此為唯一性
.box-15{ width:15%; @include dv;}
.box-5{ width:5%;}
.box-8{ width:8%;}
.box-10{ width:10%;}
.box-12{ width:12%;}
.box-14{ width:14%;}
.box-16{ width:16%;}
.box-20{ width:20%;}
.box-25{ width:25%;}
.box-30{ width:30%;}
.box-35{ width:35%;}
.box-40{ width:40%;}
.box-45{ width:45%;}
.box-50{ width:50%;}
.box-55{ width:55%;}
.box-60{ width:60%;}
.box-65{ width:65%;}
.box-70{ width:70%;}
.box-75{ width:75%;}
.box-80{ width:80%;}
.box-85{ width:85%;}
.box-90{ width:90%;}
.box-95{ width:95%;}
.box-5,.box-8,.box-10,.box-12,.box-14,.box-16,.box-20,.box-25,.box-30,.box-35,.box-40,.box-45,.box-50,.box-55,.box-60,.box-65,.box-70,.box-75,.box-80,.box-85,.box-90,.box-95{ 
	word-wrap:break-word; padding:0 0.5%; box-sizing:border-box; @include dv;
}
//.pad-u-d-10 = padding up & down is 10px
.pad-u-d-10{ padding:10px 0;}
.box-15{ text-align:center;
	i{ font-size:15px; color:#999; margin:0 8px 0 0;}
	i:hover,i.act{ color:$link;}
}




//upload image 上傳圖項
.upload-pic{ display:none;}
.upload-img-box{ @include wh(150,150);
	label.error{ @include topLeft(4,8,1);}
}
.head-box{ @include wh(200,200);
	label.error{ @include topLeft(4,8,1);}
}
.upload-box-sty{ border:1px solid #ccc; padding:5px; background:#eee url(../img/backend_img/upload.png) center no-repeat; transition: .3s;
	&:hover{ border:1px solid $main-color;}
}
//上傳圖片的點擊範圍
.upload-click-area{ width:100%; height:100%; cursor:pointer;
	img{ width:100%; height:100%; }
}

//上傳檔案
.upload-form-file { width:100%; height: 40px;
	input{ width:100%; height: 100%; position: absolute; top:0; left:0; z-index: 1; opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); cursor: pointer;}
}
.form-file{ text-align:center; font-size:16px; text-shadow:0 1px 1px #111; color:$white; width:200px; height: 40px; line-height:40px; background:$main-color; margin:0 10px 0 0; display: inline-block; position:relative; transition: background .2s;
	&:hover{ background:$main-color-hover;}
}
.file-name{ color:$main-color; margin: 10px 0;}
.form-file label{ margin:0; line-height: 28px; position: absolute; top:0; right:-129px;}

//page number
.pagination {display: block; margin: 20px auto;}
.pagination-table, .pagination-text, .pagination-numbers {display: block; text-align:center; }
.pagination-numbers{
	a{ text-decoration:none; color: #666; text-shadow: 0px 1px 0px rgba(255,255,255,0.59); font-size: 12px; display: inline; position: relative; margin: 0px 1px; width: auto; height: auto; background: #ececec; padding: 6px 10px; outline: none; border: 1px solid #d8d8d8; border-bottom: 1px solid #ccc; border-radius: 3px; cursor: pointer; -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.57); -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.57); -o-box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.57); box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.57);
		&:hover{ color: #888; text-shadow: 0px 1px 0px rgba(255,255,255,0.69); -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.75); -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.75); -o-box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.75); box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.75);}
		&:active { color: #696969; text-shadow: 0px 1px 0px rgba(255,255,255,0.53); border: 1px solid #d2d2d2; border-bottom: 1px solid #d8d8d8; -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20); -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20); -o-box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20); box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20);}
	}
	a.act { color: #696969; text-shadow: 0px 1px 0px rgba(255,255,255,0.53); border: 1px solid #d2d2d2; border-bottom: 1px solid #d8d8d8; -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20); -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20); -o-box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20); box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20);}
	a.dots, a.dots:hover, a.dots:active { color: #666; text-shadow: 0px 1px 0px rgba(255,255,255,0.59); background: none; border: none; border-radius: 0px; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; padding: 9px 2px 3px 2px; cursor: default;}
}

